.section{
    padding: 100px 0;
}
.nav-tour{
    right: 10px;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    padding: 216px 0 268px;
    /*background-attachment: fixed;*/
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/gallery/main-sl.jpg);
}





.card-select{
    background-color: #e9f0fd;
}

