*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 1600px;
    margin:auto;
    background: #dfdfdf;
    padding: 0 15px 1600px 15px;
}
.head-space{
    padding: 50px 0;
}
ul{
    list-style: none;
}

.main-menu{
    background-color: #292f42;
    padding: 0 400px 0 0;
    text-align:center;
    color: #dfdfdf;
    font-size: 0;
    font-weight: 300;
    font-family:Arial, sans-serif;

}
.main-header{
    color: #525252;
    font-size: 68px;
    text-align: center;
}
/*.main-menu{*/
    /*background-color: #293742;*/
/*}*/
/*****************************************/
.menu-item{
    font-size: 26px;
    display: inline-block;
    padding: 18px 35px;
    /*transition: 1s;*/
    position: relative;
    cursor: pointer;

}
.menu-item:hover, .lev-1-item:hover, .lev-2-item:hover, .lev-3-item:hover, .lev-4-item:hover{
    background-color: #0976ff;
    color:#fff;
}
/*******************************************/
.lev-1-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 130%;
}
.menu-item:hover > .lev-1-menu {
    display: block;
}
.lev-1-item{
    position: relative;
    text-transform: capitalize;
    background-color: #fff;
    color: #000;
    padding: 18px 35px;
    font-weight: 300;
    font-size: 26px;
    /*transition: 0.5s;*/
}
.lev-1-item:last-child{
    margin-bottom: 0;
}
/*************************************/
.lev-2-menu{
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
}
.lev-2-item{
    position: relative;
    text-transform: capitalize;
    background-color: #fff;
    color: #000;
    padding: 18px 35px;
    font-weight: 300;
    font-size: 26px;
}
.lev-1-item:hover > .lev-2-menu{
    display: block;
}
/*****************************/
.lev-3-menu{
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
}
.lev-3-item{
    position: relative;
    text-transform: capitalize;
    background-color: #fff;
    color: #000;
    padding: 18px 35px;
    font-weight: 300;
    font-size: 26px;
}
.lev-2-item:hover > .lev-3-menu{
    display: block;
}
/********************************************/
.lev-4-menu{
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
}
.lev-4-item{
    /*position: relative;*/
    text-transform: capitalize;
    background-color: #fff;
    color: #000;
    padding: 18px 35px;
    font-weight: 300;
    font-size: 26px;
}
.lev-3-item:hover > .lev-4-menu{
    display: block;
}
/********************************/