.offer{
    text-align: center;

}
.offer-sub{
    width: 80%;
    font-family: 'Roboto Light V1', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #fff;
    margin:0 auto 1.1rem;

}




.offer-button {
    background-color: #ff4e50;
    border: none;
    color: white;
    padding: 0.875rem 3.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    border-radius: 1.875rem;
}

























#t-area{
    resize: none;
}