*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

ul{
    list-style:none;
}
.wrapper-bg-image{
    /*background-image: url(../img/pics/bgc.png);*/
    background-image:linear-gradient(rgba(10, 5, 0, 0.25), rgba(10, 5, 0, 0.25)),url(../img/pics/bgc.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover ;
    padding: 2.875rem 0 14.625rem;
}
.wrapper-blank{
    padding:4.375rem 0;
    background-color: #222222;
}
.container{
    width: 65%;
    margin:auto;
}
/*.w-map{*/
    /*padding: 3.125rem 0;*/
    /*background-image: url(../img/pics/map.png);*/
    /*background-repeat:no-repeat;*/
    /*background-position: right;*/
    /*background-size: contain;*/
/*}*/
/*.container{*/
    /*width: 80%;*/
    /*margin:auto;*/
    /*!*background-color: #be95ff;*!*/
/*}*/
.main-title{
    width: 84%;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.25rem;
    color: #fff;
    margin:0 auto 2.5rem;
}
