*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
}
.wrapper{
	width: 1110px;
	margin: auto;
	padding: 48px 0 120px;
	/*outline: 1px solid #333;*/
	background-color: #fff;
}

.clearfix::after{
	display: block;
	content: '';
	clear: both;
}
.main-content{
	/*outline: 1px solid #333;*/
	box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
}

.title{
	text-align: center;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #555252;
}
.title::after{
	display: block;
	content: '';
	width: 160px;
	height: 8px;
	background-color: #1abc9c;
	margin: 20px auto 0;
}