/*.featured{

}*/
.featured-content{
	padding: 90px 0;
}


.article{
	width: 255px;
	float: left;
	margin-right: 30px;
	background-color: #e9f0fd;


}
.article:nth-of-type(4n+4){
	margin-right: 0;
}
.article:nth-of-type(-n+4){
	margin-bottom: 30px;
}
/*.article:nth-last-of-type(-n+4){*/
	/*margin-bottom: 100px;
}*/
.article-img{
	display: block;
	width: 100%;
}


/*.article:hover ::before{
 	opacity: 0;
}

.featured-button::before {
	position: absolute;
	height: 44px;
	width: 255px;
	display: block;
	content: '';
	background-color: #000;
}*/



.featured-button{
    cursor: pointer;
    font-size: 18px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}



.button-name{
	float: left;
	width: 75%;
	padding: 10px 0;
	background-color: #555252;

}
.price{
	float: right;
	width: 25%;
	background-color: #8c8c8c;
	padding: 10px 0;

}
.article:hover .button-name{
	background-color: #1abc9c;
}

.article:hover .price{
	background-color: #7fd9c7;
}


