
.main-title{
    font-size: 60px;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
.article-text{
    font-size: 24px;
    color: #fefefe;
    text-transform: uppercase;
    margin: 0 0 0 168px;
}
.button-feature{
    font-size: 0;
    margin:auto;
    position:absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav-btn-l {
    width: 102px;
    text-align: center;
    line-height: 98px;
    float: left;
    background-color: rgba(79,155,138,0.1);
    font-size: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border:2px solid rgba(255, 255, 255, 0.3);
    transition: 1s;
}
.nav-btn-r {
    width: 102px;
    text-align: center;
    line-height: 98px;
    float: right;
    background-color: rgba(79,155,138,0.1);
    font-size: 60px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border:2px solid rgba(255, 255, 255, 0.3);
    transition: 1s;
}
.nav-btn-l:hover, .nav-btn-r:hover{
    background-color: rgba(79,155,138,1);
}