.news{
	
	font-family: 'Open Sans', sans-serif;
}

.news-content{
	padding: 90px 0;
}
.news-art{
	/*outline: 1px solid #333;*/
	width: 350px;
	float: left;
	margin-right: 30px;
	color: #555252;

}

/*.news-art:nth-of-type(-n+3){*/
	/*margin-top: 90px;
}*/
.news-art:last-of-type{
	margin-right: 0;
}
.art-img{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.art-title{
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 38px;
}
/*.caption-line{*/
	/*width: 136px;*/
	/*height: 6px;*/
	/*background-color: #1abc9c;*/
	/**/
/*}*/

.art-title::after{
	display: block;
	content: '';
	width: 136px;
	height: 6px;
	background-color: #1abc9c;
	margin-top: 20px;
}
.description{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 400;

}
.news-button{
	width: 160px;
	float: left;
	background-color: #4ec6ab;
	border-radius: 8px;
    border: none;
    padding:16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
	color: #ffffff;
	transition-duration: 1s;
}
.news-button:hover{
	transform: scale(1.1);
	background: #447fff;
}