.page-header{
    padding: 80px 688px 280px 688PX;
    background: #23232e;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.logo{
    display: block;
    height: 134px;
    width: 134px;
    margin:auto;
    background-image: url('../img/logo.png');
    background-size: cover ;
    margin-bottom:185px;
}
.white{
    color: #fff;
}
.text-white{
    width: 413px;
    margin:auto;
    color: #fff;
}