.footer-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;

  &__copy{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 0.875rem;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
    color: #333333;
  }

  &__span{
    color: #f38181;
  }

}

.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &__btn--form {
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%;
    background-color: #95e1d3;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
  }

  &__email{
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%;
    padding-left: 0.9375rem;
    font-size: 1.125rem;
    color: #999999;
    display: inline-block;
    border: 0.0625rem solid #ccc;
  }
}
