.header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 4.8rem;

  &__navigation{
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }

  &__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: $sectionTitle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $white;
    font-family: $fontMontserrat, sans-serif;
    font-weight: 800;
    border-bottom: 0.0625rem transparent;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }

  &__logo--hover:hover {
    -webkit-transform: translate(3rem) scale(1.6);
    -ms-transform: translate(3rem) scale(1.6);
    transform: translate(3rem) scale(1.6);
    color: $yellow;
  }
}


.menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &__link{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: $smallTitle;
    font-weight: 700;
    padding: 0.625rem 0;
    color: $white;
    font-family: $fontMontserrat, sans-serif;
    text-transform: uppercase;
    border-bottom: 0.1875rem solid transparent;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

  }

  &__link:hover{
    border-bottom: 0.1875rem solid $yellow;
    color: $yellow;

  }

  &__logo{
    height: 1.5625rem;
    width: 1.5625rem;
    fill: $white;
  }

  &__logo:hover{
    fill: $yellow;
  }
}


/************************MAIN SECTION*********************************/
.welcome{
  text-align: center;
  max-width: 50.4375rem;
  margin: 0 auto;
  font-size: 0;

  &__template{
    font-size: $welcomeTitle;
    color: $white;
    font-family: $fontKaushan-Script, cursive;
    margin-bottom: 1rem;
  }

  &__central{
    font-size: $centralTitle;
    color: $white;
    font-family: $fontMontserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
}
