//-------------functions---------
@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}
@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

@mixin bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//-----------colors-------------
$yellow: #fce38a;
$yellowRgba: rgba(252,227,138,0.9);
$pink: #f38181;
$pinkRgba: rgba(243, 129, 129,0.9);
$white: #ffffff;
$black: #000;
$gray: #333333;
$white: #fff;
//---------fonts-----------
$fontMontserrat: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRoboto-Italic: 'Roboto Italic', sans-serif;
$fontKaushan-Script: 'Kaushan Script', sans-serif;

//---------font-size-------
$mobTitle: rem(25);
$mobPar: rem(14);
$mobBtn: rem(14);
$tabTitle: rem(30);
$tabPar: rem(14);
$tabBtn: rem(14);
$dtTitle: rem(42);
$dtPar: rem(18);
$dtBtn: rem(16);
