//-------------functions---------
@function rem($px) {
  $result: $px / 16;
  @return #{$result}rem;
}
@function prc($el, $container){
  $result: $el / $container * 100%;
  @return #{$result};
}

@mixin bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

//-----------colors-------------
$yellow: #fce38a;
$yellowRgba: rgba(252,227,138,0.9);
$pink: #f38181;
$pinkRgba: rgba(243, 129, 129,0.9);
$white: #ffffff;
$black: #000;
$gray: #333333;
$white: #fff;
$lightGray: #8e8e8e;
$midGray: #999999;
$gradGray: #303030;
$svgcolor: #95e1d3;
$bordercolor: #e5e5e5;
$formbordercolor: #ccc;
//---------fonts-----------
$fontMontserrat: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRoboto-Italic: 'Roboto Italic', sans-serif;
$fontKaushan-Script: 'Kaushan Script', sans-serif;

//---------font-size-------
$centralTitle: rem(150);
$sectionTitle: rem(30);
$welcomeTitle: rem(72);
$mainDesc: rem(24);
$smallTitle: rem(14);
$text: rem(15);
$btnText: rem(14);
$emailText: rem(20);
